<div class="pagination" role="navigation">
	<nav class="c-12">
		<ul>
			{{#if next}}
				<li><a href="{{page_url next}}">Previous</a></li>
			{{/if}}
			{{#if prev}}
				<li><a href="{{page_url prev}}">Next</a></li>
			{{/if}}
		</ul>
	</nav>
</div>