/*	BASIC MEDIUM DEVICE GRID STYLES 
	----------------------------------------	*/
@media all and (min-width: $bp-m-min) and (max-width: $bp-m-max) {
	/*	BASIC GRID STYLES
		----------------------------------------    */
	.container {
		max-width: 77.7rem;
		min-width: 56.9rem;
	}
	.c-01,
	.c-02,
	.c-03,
	.c-04,
	.c-05,
	.c-06,
	.c-07,
	.c-08,
	.c-09,
	.c-10,
	.c-11,
	.c-12 {
		float: left;
		margin-left: $hs-m;
		margin-right: 0;
	}
	.c-01 {
		width: 5.4054%;
	}
	.c-02 {
		width: 13.5135%;
	}
	.c-03 {
		width: 21.6216%;
	}
	.c-04 {
		width: 29.7297%;
	}
	.c-05 {
		width: 37.8378%;
	}
	.c-06 {
		width: 45.9459%;
	}
	.c-07 {
		width: 54.0541%;
	}
	.c-08 {
		width: 62.1621%;
	}
	.c-09 {
		width: 70.2702%;
	}
	.c-10 {
		width: 78.3784%;
	}
	.c-11 {
		width: 86.4865%;
	}
	.c-12 {
		width: 94.5946%;
	}
	.off-01 {
		padding-left: 8.1081%;
	}


	/*	FIGURES, IMAGES, AND PICTURES
		----------------------------------------    */
	figure,
	picture, 
	div.image {
		margin-bottom: $lh-m;
		/* large figures and images are still constrained */
		&.l,
		&.m,
		&.s,
		&.x {
			margin-bottom: $lh-m;
		}
		&.l,
		&.x {
			max-width: 60.9rem;
		}
		/* medium figures and images */
		&.m {
			max-width: 60.9rem;
		}
		/* small figures and images */ 
		&.s {
			margin: 0;
			max-width: 17.5rem;
			&.left {
				float: left;
				margin-right: $hs-m;
				&.pull {
					margin-left: -10.3287%;
				}
			}
			&.right {
				float: right;
				margin-left: $hs-m;
				&.pull { 
					margin-right: -10.3287%;
				}
			}
		}
	}


	/*	PAGE CONTENT (#page-content)
	    ----------------------------------------    */
	#page-content {
		margin-bottom: $lh-m;
		margin-top: $lh-m;
	    /* archive header (for archives) */
	    .archive-header {
	    	margin-bottom: $lh-m;
	    	padding-top: $lh-m;
	    }
	    /* page navigation (for archives, index) */
	    .pagination {
	    	padding-top: $lh-m;
	    }
	    .post-footer {
	    	div {
	    		padding-bottom: $lh-m;
	    		padding-top:$lh-m;
	    		&.post-sharing {
	    			p {
	    				margin-right: $hs-m;
	    			}
	    		}
	    	}
	    }
	}


	/*	PAGE FOOTER (#page-footer)
		----------------------------------------    */
	#page-footer {
		padding-top: $lh-m;
		.container {
			& > div {
				padding-bottom: $lh-m;
			}
		}
		/* about me block */
		#me {
			img {
				border-radius: ($lh-m * 5/2);			/* 62.5px */
				margin-right: ($hs-m - 0.2rem);
				max-height: ($lh-m * 5);				/* 125px */
				max-width: ($lh-m * 5);					/* 125px */
			}
		}
		/* recommended reading block */
		#recommendedread {
			img {
				border-width: $bd-w-t-m;
				max-height: ($lh-m * 6);				/* 150px */
				max-width: ($lh-m * 4);					/* 100px */
			}
		}
	}


	/*	PAGE HEADER (#page-header)
	    ----------------------------------------    */
	#page-header {
		margin-top: $lh-m;
		img {
			border-radius: ($lh-m * 4);					/* 100px */
			margin-bottom: $lh-m;
			max-height: ($lh-m * 8);					/* 200px */
			max-width: ($lh-m * 8);						/* 200px */
		}
	}
}


/*	REFINEMENTS TO MEDIUM GRID 
	---------------------------------------- 	*/
@media all and (min-width: $bp-m-min) and (max-width: 38.5em) {
	/*	PAGE CONTENT (#page-content)
	    ----------------------------------------    */
	#page-content {
		.post-footer {
			/*  */
			.c-03,
			.c-09,
			.c-12 {
				width: 94.5946%;
			}
		}
	}

	/*	PAGE FOOTER (#page-footer)
		----------------------------------------    */
	#page-footer {
		.container {
			.c-06 {
				width: 41.9000%;
			}
		}
	}
}