/*  BASIC GRID STYLES 
    ----------------------------------------    */
.hidden 
	display: none

/* clearfix class */
.clearfix 
	clearfix()

/*	COLUMNS 
    ----------------------------------------    */
/* container - serves as a row for a set of columns */
.container
	/* clearfix */
	width: 100%
	clearfix()

/* columns */
/* reset all columns to take up the full width of the container */
.c-01,
.c-02,
.c-03,
.c-04,
.c-05,
.c-06,
.c-07,
.c-08,
.c-09,
.c-10,
.c-11,
.c-12
	margin-left: lh-s
	margin-right: lh-s
	vertical-align: top 
	zoom: 1

/* if the viewport size is large enough, allow for simplified multi-column layout */



/*  ACCESSIBILITY STYLES
    ----------------------------------------    */
.accessibility 
	clip: rect(1px, 1px, 1px, 1px)
	height: 1px
	overflow: hidden
	position: absolute
	width: 1px
	

/*	PAGE CONTENT (#page-content)
    ----------------------------------------    */
#page-content 
	margin-bottom: lh-s
	margin-top: lh-s
	.pagination 
		padding-top: lh-s
		nav 
			margin-left: 0
	.post-footer 
		.post-metadata,
		.post-tags	
			border-top: c-g5 solid bd-w-n
			padding-bottom: lh-s
			padding-top: lh-s
	

/*	PAGE FOOTER (#page-footer)
    ----------------------------------------    */
#page-footer 
	background-color: c-b
	padding-top: lh-s
	/* common bottom padding for each block */
	div.container
		div
			padding-bottom: lh-s	
	#me 
		picture  
			float: left
			margin-right: hs-s
			max-height: 10.5rem
			max-width: 10.5rem
			img 
				border: c-b solid bd-w-n
				border-radius: 7rem
				width: 100%
	#recommendedread 
		img 
			float: left
			border: c-g1 solid bd-w-t-s
			margin-right: hs-s
			max-height: 12.6rem
			max-width: 8.4rem
	#rights
		border-top: c-g2 solid bd-w-n
		margin-top: lh-s 
		padding-top: lh-s


/*	PAGE HEADER (#page-header)
    ----------------------------------------    */
#page-header 
	margin-top: lh-s