/*  BASIC GRID STYLES 
    ----------------------------------------    */
.container
	margin: 0 auto
	max-width: 56.8rem
	/* clearfix */
	clearfix()
.hidden 
	display: none

/* clearfix class */
.clearfix 
	clearfix()

/*	COLUMNS 
    ----------------------------------------    */
/* .columns */
.c-01,
.c-02,
.c-03,
.c-04,
.c-05,
.c-06,
.c-07,
.c-08,
.c-09,
.c-10,
.c-11,
.c-12
	margin-left: lh-s
	margin-right: lh-s
	vertical-align: top 
	max-width: 100%
	zoom: 1


/*  ACCESSIBILITY STYLES
    ----------------------------------------    */
.accessibility 
	clip: rect(1px, 1px, 1px, 1px)
	height: 1px
	overflow: hidden
	position: absolute
	width: 1px
	

/*	PAGE CONTENT (#page-content)
    ----------------------------------------    */
#page-content 
	margin-bottom: lh-s
	margin-top: lh-s
	

/*	PAGE FOOTER (#page-footer)
    ----------------------------------------    */
#page-footer 
	background-color: c-h1
	padding: lh-s 0
	#me 
		picture  
			float: left
			padding-right: hs-s
			max-height: 10.5rem
			max-width: 10.5rem
			img 
				border: c-h1 solid bd-w-n
				border-radius: 7rem
				width: 100%


/*	PAGE HEADER (#page-header)
    ----------------------------------------    */
#page-header 
	margin-top: lh-s