/* set hyphenation for elements */
hyphenate(v)
	hyphens: v
	-moz-hyphens: v
	-ms-hyphens: v
	-o-hyphens: v
	-webkit-hyphens: v

/* clearfix to clear floating elements */	
clearfix()
	zoom: 1
	&:before,
	&:after 
		content: ""
		display: table
	&:after 
		clear: both