/* set hyphenation for elements */
hyphenate(v)
	hyphens: v
	-moz-hyphens: v
	-ms-hyphens: v
	-o-hyphens: v
	-webkit-hyphens: v

/* clearfix to clear floating elements */	
clearfix()
	zoom: 1
	&:before,
	&:after 
		content: ""
		display: table
	&:after 
		clear: both

/* time - common styles */
condensed-gotham-style(c, fs, ls = bd-w-n, lh = 0, mb = 0)
	color: c
	font-family: ff-gotham-ssm, "Proxima Nova", Gibson, sans-serif
	font-size: fs 
	font-weight: fw-light
	hyphenate(none)
	letter-spacing: (ls * 2)
	if lh != 0
		line-height: lh
	if mb != 0
		margin-bottom: mb
	text-transform: uppercase