/*  BODY AND HTML
    ----------------------------------------    */
html 
    font-size: fs-base    // sets font size to 10px
    
body
	background-color: c-w
	color: c-g2
	font-family: ff-mercury-ssm, Garvis, Arnhem, Georgia, serif
	font-size: fs-s3
	font-weight: fw-normal
	hyphenate(auto)
	line-height: lh-s
	text-rendering: optimizeLegibility
	word-wrap: break-word

/*  COMMON STYLES
    ----------------------------------------    */
/* zero out margins and padding */
article,
aside,
blockquote,
div,
dl,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
ol,
p,
picture,
pre,
section,
ul
    margin: 0
    padding: 0 

/* set common bottom margin for block level elements */
blockquote,
dl,
ol,
p,
pre,
table,
ul,
.footnotes
	margin-bottom: lh-s
	
/* set common padding and borders for blockquotes and preformatted text */
blockquote,
pre 
	padding: 0 hs-s
	
/* remove hyphenation for certain HTML elements */
abbr,
blockquote,
code,
kbd,
pre,
q,
samp,
var
    hyphenate(none)


/*  BLOCKQUOTES AND QUOTES
    ----------------------------------------    */
blockquote
	border-left: c-v2 solid (bd-w-t-s * 2)
	padding-bottom: lh-s
	padding-top: lh-s
	footer
		text-align: right 
		cite:before 
	        content: "\2014"
	        padding-right: (hs-s * 1/3)
	:last-child
		margin-bottom: 0
	
	
/*	inline quotes */
q:after,
q:before 
    content: none
html[lang="en"],
html[lang="en-US"]
	q:before
        content: "\201C"
    q:after 
        content: "\201D" 
    q
        > q:before
            content: "\2018"
        > q:after
            content: "\2019"	

/*	pull quotes */
aside
	&.pull 
		color: c-b


/*  CAPTIONS 
    ----------------------------------------    */
caption,
figcaption,
.caption 
	color: c-g3
	font-size: fs-s2
	text-align: left
	span 
		text-transform: uppercase


/*  CODE AND PREFORMATTED TEXT 
    ----------------------------------------    */
code 
	font-family: Consolas, ff-lucida-console, ff-andale-mono, monospace
	font-size: fs-s2

/* pre */
pre[class*="language-"]
	line-height: lh-s
	margin: 0 0 lh-s	
	padding: lh-s hs-s
	

/*  FIGURES, IMAGES, AND PICTURES  
    ----------------------------------------    */
figure,
picture 
    a 
        & > img 
            border-width: 0


/*  FOOTNOTES 
    ----------------------------------------    */
.footnotes 
	dl.in-line
		margin-bottom: 0
		dd + dt 
	        &:before 
	            content: "\A"
	            white-space: pre		
	hr.w-50 
		margin: (lh-s * 2) 0 lh-s  /* top | left & right | bottom */	
	ol 
		font-size: fs-s2
		margin-bottom: 0
	
	

/*  HEADINGS
    ----------------------------------------    */
h1,
h2,
h3,
h4,
h5,
h6
	font-family: ff-gotham, "Proxima Nova", Gibson, sans-serif
	font-style: normal
	font-weight: fw-bold
h1,
h2,
h3 
	color: c-b
h4,
h5,
h6
	color: c-g1
h1 
	font-size: fs-s8
	line-height: (lh-s * 2)
	margin-bottom: lh-s
h2 
	font-size: fs-s7
	line-height: (lh-s * 1.3)
	margin-bottom: lh-s
	padding-bottom: (lh-s/3)
	padding-top: (lh-s/3)
h3 
	font-size: fs-s6
	line-height: lh-s
	margin-bottom: lh-s
	padding-top: (lh-s/3)
	padding-bottom: (lh-s * 2/3)  
h4
	font-size: fs-s5
	line-height: lh-s  
	margin-bottom: lh-s
h5 
	font-size: fs-s4
	line-height: lh-s
	margin-bottom: lh-s
h6 
	font-family: ff-gotham-ssm, "Proxima Nova", Gibson, sans-serif
	font-size: fs-s3
	line-height: lh-s
	margin-bottom: lh-s
	

/*  HORIZONTAL RULES 
    ----------------------------------------    */
hr 
	border: 0
	border-top: c-g5 solid bd-w-n
	margin: lh-s 0
	&.w-50,
	&.w-75
		margin: lh-s auto 
	&.w-50
		width: 50%
	&.w-75
		width: 75%

    
/*  INLINE STYLES
    ----------------------------------------    */
/* abbreviations */
abbr 
    letter-spacing: bd-w-n
    text-transform: uppercase
    &[title] 
        border-bottom: c-g5 dotted bd-w-n

/* citations */
cite 
	font-style: italic

/* deleted & inserted text */
del 
	color: c-g3
	text-decoration: line-through
ins 
	color: c-b
	text-decoration: underline

/* small text */
small 
	font-size: fs-s2

/* subscripts and superscripts */
sub,
sup 
	font-size: fs-s1
	position: relative
	vertical-align: baseline
sub
	top: 0.8ex
sup 
	bottom: 1.0ex 


/*  LINKS
    ----------------------------------------    */
a 
	border-bottom: solid bd-w-n
	text-decoration: none
	&:link,
	&:visited
		border-bottom-color: c-r3
		color: c-r3
	&:active,
	&:hover 
		border-bottom-color: c-r1 
		color: c-r1


/*  LISTS
    ----------------------------------------    */
/* common styles for lists */
ol, 
ul 
	/* first level list */
	margin-left: hs-s
	& > li > ol,
	& > li > ul
		/* second level list */
		margin-left: hs-s 
		& > li > ol,
		& > li > ul
			/* third level list */
			margin-left: hs-s 


/* definition lists */
dl 
	dd 
		margin-left: hs-s
	dt 
		font-weight: fw-bold
	/* inline definition lists */
	&.in-line 
		margin-bottom: lh-s
		dd, 
		dt 
			display: inline
			margin: 0
		dt:after 
			content: ": "
		dd + dd 
	        &:before 
	            content: ", " 
	            margin-left: -0.4rem
	    dd + dt 
	        &:before 
	            content: "\A\A"
	            white-space: pre

/* ordered lists */
ol
	/* first level ordered list */
	list-style: decimal
	& > li > ol 
		/* second level ordered list */
		list-style: lower-alpha
		& > li > ol 
			/* third level ordered list */
			list-style: lower-roman

/* unordered lists */
ul 
	/* first level unordered list */
	list-style: disc
	& > li > ul 
		/* second level unordered list */
		list-style: square 
		& > li > ul 
			/* third level unordered list */
			list-style: circle


/*	PARAGRAPHS (<p>)
    ----------------------------------------    */
p 
	font-size: fs-s3
	line-height: lh-s
	text-align: left


/*  TABLES
    ----------------------------------------    */
table 
	border-left: c-g5 solid bd-w-n
	border-top: c-g5 solid bd-w-n
	max-width: 100%
	caption
		caption-side: bottom
		margin-top: lh-s
		text-align: left
	td,
	th
		border-right: c-g5 solid bd-w-n
		hyphenate(none)
		line-height: lh-s
		padding: (lh-s/2) (hs-s/3)
	tr 
		border-bottom: c-g5 solid bd-w-n
	&.condensed 
		border-left-width: 0
		border-top: c-g5 solid bd-w-n
		td,
		th 
			border-right-width: 0
			padding: (lh-s/3) (hs-s/3) (lh-s/3)
	&.striped 
		/* default - no border */
		border-left-width: 0 
		border-top-width: 0
		tr:nth-child(odd)
			& > td,
			& > th
				background: c-v6
		tr 
			border-bottom-width: 0
		td,
		th
			border-right-width: 0
		/* striped with border */
		&.h-border 
			tr:last-child
				border-bottom: c-v5 solid bd-w-n
			tr:nth-child(odd)
				& > td,
				& > th
					border-bottom: c-v5 solid bd-w-n
					border-top: c-v5 solid bd-w-n
		&.v-border
			border-left: c-v5 solid bd-w-n
			td,
			th 
				border-right: c-v5 solid bd-w-n
	
/* responsive wrapper to avoid large tables breaking layout */
.responsive-wrapper 
	overflow-x: auto;
	overflow-y: hidden
	width: 100%


/*  MISCELLANEOUS TYPOGRAPHIC STYLES
    ----------------------------------------    */
/* text alignment */
.center
    text-align: center
.left
    text-align: left
.right
    text-align: right
    

/*	PAGE CONTENT (#page-content)
    ----------------------------------------    */
#page-content 	
	/* archive header */
	.archive-header
		h1 
			f-gotham-ssm-allcaps(c-g4, fs-s2, lh-s, 0)
			letter-spacing: (bd-w-n * 2)
	/* page navigation (for archives) */
	.pagination 
		nav 
			ul 
				list-style: none
				margin-left: 0
				text-align: center
				li 
					border: c-g5 solid bd-w-n
					border-radius: (lh-s/7)
					display: inline-block
					& + li
						margin-left: lh-s						 
					a 
						border-bottom-width: 0
						display: block
						line-height: lh-s
						padding: (lh-s/2) lh-s
	.post-content 
		p
			&.lede 
				color: c-b
				font-size: fs-s4
	.post-footer 
		.post-metadata 
			p 
				margin-bottom: 0
				time
					f-gotham-ssm-allcaps(c-g4, fs-s2)
					letter-spacing: (bd-w-n * 2)
		.post-tags
			p 
				float: left
				padding-right: hs-s
			ul 
				list-style: none
				margin-left: 0
				li 
					display: inline-block
					line-height: lh-s 
					a 
						border-bottom-width: 0
	.post-header 
		/* article headings */
		h2 
			color: c-b
			hyphenate(none)
			margin-bottom: 0
			margin-top: 0
			padding-bottom: 0
			padding-top: (lh-s * 2/3)
			a 
				border-bottom-width: 0
				&:link,
				&:visited 
					color: c-b
				&:active,
				&:hover
					color: c-r3
		p
			line-height: lh-s
			margin-bottom: lh-s
			time 
				f-gotham-ssm-allcaps(c-g4, fs-s2)
				letter-spacing: (bd-w-n * 2)
		/* change color of <time> element on hover */
		&:hover 
			p
				time 
					color: c-g3


/*	PAGE FOOTER (#page-footer)
    ----------------------------------------    */
#page-footer 
	/* common styles */
	p,
	ul
		color: c-g4
		font-size: fs-s4
		hyphenate(none)
		margin-bottom: 0
		margin-left: 0
	/* links */
	a 
		border-bottom-width: 0
		&:link,
		&:visited
			color: c-r3
		&:active,
		&:hover
			color: c-w		
	h1 
		f-gotham-ssm-allcaps(c-w, fs-s3, lh-s, lh-s)
		letter-spacing: (bd-w-n * 2)
	p,
	ul 
		small 
			background: c-g1
			border-radius: (lh-s/7)
			font-family: ff-gotham-ssm, "Proxima Nova", Gibson, sans-serif
			padding: (lh-s/7) 
			text-transform: uppercase		
	/* styles for elsewhere */
	#elsewhere 
		ul
			list-style: none
			li 
				padding-left: (hs-s * 1.5)
				background-position: 0 50%
				background-repeat: no-repeat
				background-size: fs-s4 fs-s4
				&.i-500px
					background-image: url("../images/icons/icon-500px-s-@2x.png")
				&.i-github 
					background-image: url("../images/icons/icon-github-s-@2x.png")
				&.i-linkedin
					background-image: url("../images/icons/icon-linkedin-s-@2x.png")
				&.i-twitter 
					background-image: url("../images/icons/icon-twitter-s-@2x.png")
	/* styles for recommended reading */
	#recommendedread
		ul
			list-style: none
			li
				p
					margin-bottom: lh-s 
				p:last-child
					margin-bottom: 0
	/* styles for recommended reading */
	#rights 
		p 
			font-size: fs-s3


/*	PAGE HEADER (#page-header)
    ----------------------------------------    */
#page-header 
	h1 
		color: c-b
		font-size: fs-s9
		line-height: (lh-s * 2)
		margin-bottom: 0
		margin-top: 0
		text-align: center
		text-shadow: 0.1rem 0.1rem 0 c-g5
		text-transform: uppercase	
		a 
			border-bottom-width: 0
			color: c-b 
			