/*  BODY AND HTML
    ----------------------------------------    */
html 
    font-size: fs-base    // sets font size to 10px
    
body
	background-color: c-bg
	color: c-tx
	font-family: ff-tx
	font-size: fs-s-tx
	hyphenate(auto)
	line-height: lh-s
	text-rendering: optimizeLegibility
	word-wrap: break-word

/*  COMMON STYLES
    ----------------------------------------    */
/* Zero out margins and padding */
article,
aside,
blockquote,
div,
dl,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
ol,
p,
picture,
pre,
section,
ul
    margin: 0
    padding: 0 

/* Set common bottom margin for block level elements */
blockquote,
dl,
ol,
p,
pre,
table,
ul,
.footnotes
	margin-bottom: lh-s
	
/* Set common padding and borders for blockquotes and preformatted text */
blockquote,
pre 
	padding: 0 hs-s
	
/* Remove hyphenation for certain HTML elements */
abbr,
blockquote,
code,
kbd,
pre,
q,
samp,
var
    hyphenate(none)


/*  BLOCKQUOTES AND QUOTES
    ----------------------------------------    */
q:after,
q:before 
    content: none
html[lang="en"],
html[lang="en-US"]
	q:before
        content: "\201C"
    q:after 
        content: "\201D" 
    q
        > q:before
            content: "\2018"
        > q:after
            content: "\2019"	


/*  HEADINGS
    ----------------------------------------    */
h1,
h2,
h3,
h4,
h5,
h6
	font-family: ff-hd
	font-style: normal
	font-weight: 700
h1 
	color: c-h1
	font-size: fs-s-h1
	line-height: lh-s * 1.5
h2 
	font-size: fs-s-h2
	line-height: lh-s * 1.5
h3 
	font-size: fs-s-h3
	line-height: lh-s * 1.25
h4
	font-size: fs-s-h4
	line-height: lh-s * 1.25
h5 
	font-size: fs-s-h5
	line-height: lh-s
h6 
	font-size: fs-s-h6
	line-height: lh-s
	


/*  HORIZONTAL RULES 
    ----------------------------------------    */
hr 
	border: 0
	border-top: c-bd solid bd-w-n
	margin: lh-s 0
	&.w-50,
	&.w-75
		margin: lh-s auto 
	&.w-50
		width: 50%
	&.w-75
		width: 75%

    
/*  INLINE STYLES
    ----------------------------------------    */
/* abbreviations */
abbr 
    letter-spacing: 0.1rem
    text-transform: uppercase
    &[title] 
        border-bottom: c-bd dotted bd-w-n

/* deleted & inserted text */
del 
	color: c-mt
	text-decoration: line-through
ins 
	color: c-h1
	text-decoration: underline

/* small text */
small 
	font-size: fs-s-sm

/* subscripts and superscripts */
sub,
sup 
	font-size: fs-s-tn
	position: relative
	vertical-align: baseline
sub
	top: 0.8ex
sup 
	bottom: 1.0ex 


/*  LINKS
    ----------------------------------------    */
a 
	border-bottom: solid bd-w-n
	text-decoration: none
	&:link,
	&:visited
		border-bottom-color: c-ln
		color: c-ln
	&:active,
	&:hover 
		border-bottom-color: c-at 
		color: c-at


/*  MISCELLANEOUS TYPOGRAPHIC STYLES
    ----------------------------------------    */
/* text alignment */
.center
    text-align: center
.left
    text-align: left
.right
    text-align: right
    

/*	PAGE CONTENT (#page-content)
    ----------------------------------------    */
#page-content 	
	.post-content 
		p
			&.lede 
				color: c-h1
				font-size: fs-s-h5
	.post-header 
		/* article headings */
		h2 
			color: c-h1
			hyphenate(none)
			margin-bottom: 0
			a 
				border-bottom-width: 0
				&:link,
				&:visited 
					color: c-h1
				&:active,
				&:hover
					color: c-ln
		time 
			color: c-lt
			font-family: ff-ft
			font-size: fs-s-sm
			font-weight: 400
		&:hover 
			time 
				color: c-mt


/*	PAGE FOOTER (#page-footer)
    ----------------------------------------    */
#page-footer 
	/* common styles */
	p,
	ul
		color: c-lt
		hyphenate(none)
		margin-bottom: 0
	/* links */
	a 
		border-bottom-width: 0
		&:link,
		&:visited
			color: c-ln
		&:active,
		&:hover
			color: c-bd
	h1 
		color: c-bd
		font-family: ff-hd
		font-size: fs-s-h6
		font-weight: 300
		hyphenate(none)
		letter-spacing: 0.2rem
		line-height: lh-s
		margin-bottom: lh-s
		text-transform: uppercase
	p 
		small 
			background: c-h2
			border-radius: (lh-s/7)
			font-family: ff-ft
			padding: (lh-s/7) 
			text-transform: uppercase		
	#disclaimer, 
	#elsewhere,
	#me,
	#site		
		padding-bottom: lh-s
		p
			font-size: fs-s-h5
			line-height: lh-s
	#elsewhere 
		ul
			font-size: fs-s-h5
			margin-left: 0
			list-style: none
			li 
				padding-left: hs-s * 1.5
				&.i-500px
					background-image: url("../images/icon-500px-s.png")
					background-position: 0 50%
					background-repeat: no-repeat
				&.i-github 
					background-image: url("../images/icon-github-s.png")
					background-position: 0 50%
					background-repeat: no-repeat
				&.i-linkedin
					background-image: url("../images/icon-linkedin-s.png")
					background-position: 0 50%
					background-repeat: no-repeat
				&.i-twitter 
					background-image: url("../images/icon-twitter-s.png")
					background-position: 0 50%
					background-repeat: no-repeat


/*	PAGE HEADER (#page-header)
    ----------------------------------------    */
#page-header 
	h1 
		color: c-h1
		font-size: fs-s-lg
		line-height: fs-s-lg
		margin-left: 0
		text-align: center
		text-shadow: 0.1rem 0.1rem 0 c-bd
		text-transform: uppercase	