/*  BORDER WIDTHS 
    ----------------------------------------    */
bd-w-n = 0.1rem							//	1px

bd-w-t-s = 0.3rem						//	3px
bd-w-t-m = 0.5rem						//	5px


/*	COLORS 
    ----------------------------------------    */
/* 
	Basic color palatte for Aenea Theme.
	Greys: 
*/
c-b = rgb(0,0,0)						//	#000000
c-w = rgb(255,255,255)					// 	#ffffff

/*	Greys */
c-g1 = rgb(34,34,34)					//	#222222
c-g2 = rgb(68,68,68)					//	#444444
c-g3 = rgb(102,102,102)					//	#666666
c-g4 = rgb(153,153,153)					//	#999999
c-g5 = rgb(221,221,221)					//	#dddddd

/* 	Reds */
c-r1 = rgb(85,0,0)						//	#550000 - dark red
c-r2 = rgb(128,21,21)					//	#801515 - light red
c-r3 = rgb(170,57,57)					//	#aa3939 - salmon 
c-r4 = rgb(212,106,106)					// 	#d46a6a - light salmon
c-r5 = rgb(255,170,170)					//	#ffaaaa - pink

/*	Greens */
c-v1 = rgb(0,68,0)						//	#004400 - dark green 
c-v2 = rgb(17,102,17)					//	#116611 - green
c-v3 = rgb(45,136,45)					//	#2d882d - light green
c-v4 = rgb(85,170,85)					//	#55aa55 - pastel green
c-v5 = rgb(136,204,136)					//	#88cc88 - pale pastel green
c-v6 = rgb(221,255,221)					//	#ddffdd - paler pastel green	


/*  FONT FAMILIES
    ----------------------------------------    */
/* 
	Body copy: 							Mercury ScreenSmart, Georgia, serif 
	Headings:							Gotham 
	Metadata & Small Headings: 			Gotham ScreenSmart
	Monospace:							Consolas, Lucida Console, Andale Mono
*/
ff-mercury-ssm = "Mercury SSm A", "Mercury SSm B"
ff-gotham = "Gotham A", "Gotham B"
ff-gotham-ssm = "Gotham SSm A", "Gotham SSm B"
ff-lucida-console = "Lucida Console"
ff-andale-mono = "Andale Mono"


/*	FONT SIZES 
    ----------------------------------------    */
/*	Base font-size */
fs-base = 62.5%							//	font-size: 10px 

/*	Font sizes for small devices  */
fs-s9 = 3.6rem						// 	font-size: 36px
fs-s8 = 2.8rem						//	font-size: 28px 
fs-s7 = 2.4rem						//	font-size: 24px
fs-s6 = 2.1rem						//	font-size: 21px
fs-s5 = 1.8rem						//	font-size: 18px
fs-s4 = 1.6rem						// 	font-size: 16px
fs-s3 = 1.4rem						//	font-size: 14px
fs-s2 = 1.2rem						//	font-size: 12px	
fs-s1 = 1.0rem						//	font-size: 10px

fs-m9 = 4.2rem						// 	font-size: 42px
fs-m8 = 3.6rem						// 	font-size: 36px
fs-m7 = 2.8rem						//	font-size: 28px 
fs-m6 = 2.4rem						//	font-size: 24px
fs-m5 = 2.1rem						//	font-size: 21px
fs-m4 = 1.8rem						//	font-size: 18px
fs-m3 = 1.6rem						// 	font-size: 16px
fs-m2 = 1.4rem						//	font-size: 14px
fs-m1 = 1.2rem						//	font-size: 12px


/*	FONT WEIGHTS
    ----------------------------------------    */
fw-light = 300
fw-book = 400
fw-medium = 500
fw-bold = 700


/*  LINE HEIGHTS AND HORIZONTAL SPACING
    ----------------------------------------    */
hs-s = 2.1rem
hs-m = 2.5rem

lh-s = 2.1rem 
lh-m = 2.5rem


/*  MEDIA QUERY BREAKPOINTS 
    ----------------------------------------    */
/* 	
	Viewport sizes for small devices (mobile phones): 
	-	iPhone 4 & below:			 320px (portrait)
									 480px (landscape)
	-	iPhone 5:					 320px (portrait)
									 568px (landscape)
	-	iPhone 6:					 375px (portrait)
									 667px (landscape)
	-	iPhone 6 Plus:				 414px (portrait)
									 736px (landscape)

	Viewport sizes for medium devices (tablets & smaller laptops):
	-	iPad:						 768px (protrait)
									1024px (landscape)
*/